.shop-header {
  border-bottom: 1px solid #e4e2e2;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.shop-header .logo {
  font-display: "Playfair Display", Georgia serif;
  font-size: 2.2rem;
  padding-left: 1rem;
}

.shop-header .shopping-cart {
  align-self: center;
  font-size: 1.1rem;
  padding-right: 1rem;
}

.shop-header .shopping-cart .cart-icon {
  font-size: 2rem;
  color: sandybrown;
  margin-right: 10px;
}